$theme-col: #fff;
$decor-col: #CAA892;
$links-col: #37806B;
$light-grey-text: #646464;
$dark-grey-text: #212121;
$white-text: #fff;
$prim-font: 'Open Sans', sans-serif;
$heading-font: 'Poppins', sans-serif;


//Динамическое изменение цвета шрифта
@function set-text-color($color) {
	@if(lightness($color) > 40) {
		@return #000;
	} @else {
		@return #fff;
	}
}


//Миксины для медиа запросов

@mixin mediaSm {
	@media screen and (max-width: 500px) {
		@content;
	}
}

@mixin mediaMd {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin mediaLg {
	@media screen and (min-width: 769px) and (max-width: 1170px){
		@content;
	}
}

@mixin mediaXL {
	@media screen and (min-width: 1171px) {
		@content;
	}
}

//Замедление переходов
@mixin easeOut {
	transition: all 0.5s ease-out; 
}

p, span, div {
	text-color: $dark-grey-text;
}

.container {
	width: 1373px; //1348px;
	margin: 0 auto;		
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row nowrap;
}

section {
	margin-bottom: 25vh;
	//padding-bottom: 10vh;
}

.header {
	//position: sticky;
	margin-top: 41px;
	//z-index: 100;
}

.button {
	border-radius: 20px 0;
	display: inline-block;
	background-color: $links-col;
	text-align: center;
	vertical-align: center;
	text-transform: uppercase;
	a {
		color: $white-text;
		font-size: 18px;
		line-height: 42px;
	}
}

.text-default {
	color: $light-grey-text;
	font-family: $prim-font;
	font-size: 18px;
}

.sm-heading {
	font-family: $prim-font;
	text-transform: uppercase;
	color: $light-grey-text;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
}

.section-heading {
	font-family: $heading-font;
	font-size: 48px;
}

img {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.img-card {
	z-index: 0;
	position:relative;
	border-radius: 100px 0;
	img {
		border-radius: 100px 0;	
	}
	&:after{
		content:"";
		border: 1px solid $decor-col;
		border-radius: 100px 0;
		position:absolute;
		left:34px;
		top:33px;
		width:100%;
		height:100%;
		z-index:-1;
	}
}

.card {
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
	border-radius: 60px 0px;
	padding-left: 95px;
	padding-right: 23px;
}
