@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  color: black;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

p,
span,
div {
  text-color: #212121;
}

.container {
  width: 1348px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

section {
  margin-bottom: 25vh;
}

.header {
  margin-top: 41px;
}

.button {
  border-radius: 20px 0;
  display: inline-block;
  background-color: #37806B;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
}

.button a {
  color: #fff;
  font-size: 18px;
  line-height: 42px;
}

.text-default {
  color: #646464;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.sm-heading {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #646464;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.section-heading {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
}

img {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.img-card {
  z-index: 0;
  position: relative;
  border-radius: 100px 0;
}

.img-card img {
  border-radius: 100px 0;
}

.img-card:after {
  content: "";
  border: 1px solid #CAA892;
  border-radius: 100px 0;
  position: absolute;
  left: 34px;
  top: 33px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card {
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
  padding-left: 95px;
  padding-right: 23px;
}

.header__flex {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__flex .header__nav {
  margin-left: auto;
}

.header__flex .header__nav .header__nav-item {
  display: inline-block;
}

.header__flex .header__nav .header__nav-item a {
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 40px;
}

.header__flex .header__nav .header__nav-item a.current {
  color: #646464;
}

.header__button {
  width: 97px;
  height: 32px;
  margin-left: 64px;
}

.header__button a.sign-up {
  font-size: 16px;
  line-height: 32px;
}

.button_skin-colored {
  background-color: #CAA892;
}

.preview__flex .prewiew__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 603px;
          flex: 1 1 603px;
}

.preview__flex .preview__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 717px;
          flex: 1 1 717px;
}

.preview {
  margin-top: 107px;
}

.preview h1.preview__slogan {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 78px;
  margin-top: 12px;
}

.preview p.preview__paragraph {
  line-height: 30px;
  margin-top: 23px;
}

.preview .preview__button {
  margin-top: 28px;
  height: 42px;
  width: 142px;
}

.preview__paragraph {
  padding-right: 10px;
}

.preview {
  margin-bottom: 10vh;
}

.service__slogan {
  font-weight: 500;
  line-height: 78px;
  margin-bottom: 50px;
}

.service__card {
  margin: 0 18px 0 18px;
  width: 425px;
  height: 193px;
}

.service__card p {
  line-height: 28px;
}

.service__card:nth-child(even) {
  background-color: #CAA892;
  color: #fff;
}

.service__card:nth-child(even) p {
  color: #fff;
}

.service__card .service__card-heading {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 68px;
  letter-spacing: 1px;
}

.about__flex .about__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 603px;
          flex: 1 1 603px;
}

.about__flex .about__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 682px;
          flex: 1 1 682px;
}

.about .about__heading {
  font-style: normal;
  font-weight: 500;
  line-height: 57px;
}

.about .about__text {
  margin-left: 100px;
}

.about .about__text p.about__paragraph {
  line-height: 30px;
  margin-top: 22px;
}

.about .about__button {
  margin-top: 46px;
  width: 142.15px;
  height: 42.81px;
}

.about .img-card:after {
  left: -34px;
  top: -33px;
}

.history__flex .history__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 603px;
          flex: 1 1 603px;
}

.history__flex .history__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 682px;
          flex: 1 1 682px;
}

.history .history__text {
  margin-right: 154px;
}

.history .history__text .history__heading {
  font-style: normal;
  font-weight: 500;
  line-height: 65px;
}

.history .history__text .history__heading .history__twenty-bg {
  background: url("img/twenty_bg.webp") content-box 100% auto center;
}

.history .history__text .history__heading .history__twenty-bg .history__twenty {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 288px;
  line-height: 28px;
  letter-spacing: -0.01em;
}

.history .history__button {
  margin-top: 46px;
  width: 142.15px;
  height: 42.81px;
}

.achievements {
  background: #F8F8F8;
  padding: 87px 0 105px;
}

.achievements .achievements__heading {
  line-height: 60px;
  /* or 125% */
  text-align: center;
  max-width: 817px;
  margin: 0 auto 87px;
}

.achievements .achievements__grid-container {
  height: 273px;
  display: grid;
  grid-gap: 200px;
  grid: auto/repeat(4, 185px);
}

.achievements .achievements__grid-container .achievements__grid-card {
  width: 185px;
  height: 182px;
  padding: 47px 0;
  text-align: center;
  -webkit-box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
}

.achievements .achievements__grid-container .achievements__grid-card:nth-child(even) {
  margin-top: auto;
}

.achievements .achievements__grid-container .achievements__grid-card span {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #212121;
}

.reviews {
  text-align: center;
}

.reviews .reviews__heading {
  margin-bottom: 100px;
}

.reviews .reviews__flex-box {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 183px;
}

.reviews .reviews__flex-box .reviews__comment-card {
  width: 571px;
  height: 226px;
  padding: 41px 10px 0 102px;
  -webkit-box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
          box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
}

.reviews .reviews__flex-box .reviews__comment-card:after {
  content: '”';
  position: absolute;
  margin-top: -30px;
  margin-left: -70px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 109px;
  color: #B0855B;
}

.reviews .reviews__flex-box .reviews__comment-card .reviews__text {
  float: left;
}

.reviews .reviews__flex-box .reviews__comment-card .reviews__text p {
  line-height: 28px;
}

.reviews .reviews__flex-box .reviews__comment-card span {
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}

.reviews .reviews__flex-box .reviews__comment-card span:before {
  content: '';
  display: block;
  position: absolute;
  background-color: pink;
  width: 130px;
  height: 130px;
  border-radius: 40px 0;
  margin-left: -160px;
}

.reviews .reviews__flex-box .reviews__comment-card span .louis:before {
  content: '../img/louis.webp';
  background: url("../img/louis.webp") no-repeat;
}

.reviews .reviews__flex-box .reviews__comment-card span .rakha:before {
  content: '../img/rakha.webp';
  background: url("../img/rakha.webp") no-repeat;
}